# 相当于脚本用途的一个声明
name: Release
# 触发脚本的事件  这里为发布release之后触发
on:
  release:
    types: [ published ]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Publish package
        run: |
          cd source/java
          bash build.sh
          cd polaris-specification
          mvn --batch-mode deploy
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Build and publish Python package
        run: |
          pip install grpcio-tools
          cd source/python/
          python build.py
          sed -i "s/#VERSION#/${VERSION}/g" src/polarismesh_specification/__about__.py
          cat src/polarismesh_specification/__about__.py
          pip install --upgrade hatch
          hatch build
          hatch publish --no-prompt
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.HATCH_INDEX_AUTH }}
          VERSION: ${{ steps.get_version.outputs.VERSION }}
