name: Testing

on:
  push:
    branches:
      - main
      - release/*
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
      - release/*
    paths-ignore:
      - '**.md'

jobs:
  build:
    strategy:
      matrix:
        java: [ 8 ]
        os: [ 'ubuntu-latest' ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout codes
        uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Test with Maven
        run: |
          cd source/java
          bash build.sh
          cd polaris-specification
          mvn clean test -B -U
